body{

margin:0;
font-family:tahoma;
background:#f4f6f8;

}


.login-box{

width:350px;
margin:120px auto;
background:white;
padding:30px;
border-radius:15px;
text-align:center;

}



input{

padding:12px;
width:90%;
margin:8px;
border-radius:8px;
border:1px solid #ddd;

}


button{

padding:12px;
margin:5px;
border:0;
border-radius:8px;
cursor:pointer;
background:#00695c;
color:white;

}



.sidebar{

position:fixed;
right:0;
top:0;
height:100%;
width:220px;
background:#073b3a;
padding:20px;

}



.sidebar h2{

color:white;

}


.sidebar button{

width:100%;

}




.content{

margin-right:260px;
padding:20px;

}



.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}


.card{

background:white;
padding:25px;
border-radius:15px;
text-align:center;
box-shadow:0 3px 10px #ddd;

}



table{

width:100%;
background:white;
border-collapse:collapse;

}


td,th{

padding:12px;
border-bottom:1px solid #ddd;
text-align:center;

}



.hidden{

display:none;

}


@media(max-width:800px){

.sidebar{

position:relative;
width:auto;

}


.content{

margin:0;

}


.cards{

grid-template-columns:1fr;

}

}
